body {
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1, h2 {
    margin: 48px 0 30px;
}

h1, h4 {
    font-size: 36px;
}

h2, h3 {
    font-size: 21px;
}

p {
    color: #757575;
    line-height: 1.5;
    font-size: 18px;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

header img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}

main, footer div#f-content {
    max-width: 984px;
    width: 90%;
    margin: 0 auto;
}

main div#logo {
    width: 100%;
    height: 71px;
}

main div#logo img {
    position: relative;
    top: -71px;
    height: 142px;
    border-radius: 50%;
}

main section {
    float: left;
    width: 72%;
    margin-right: 20px;
    margin-bottom: 48px;
}

main section div#aof-items {
    display: flex;
    flex-wrap: wrap;
}

main section div#aof-items div.aof-item {
    display: flex;
    margin: 0 12px 12px 0;
}

main section div#aof-items div.aof-item img {
    height: 18px;
    padding: 6px;
}

main section div#aof-items div.aof-item:first-of-type img {
    background-color: #5A4D99;
}

main section div#aof-items div.aof-item:nth-of-type(2) img {
    background-color: #BFCC36;
}

main section div#aof-items div.aof-item:last-of-type img {
    background-color: #1A587A;
}

main section div#aof-items div.aof-item p {
    height: 30px;
    padding: 0 6px;
    line-height: 2;
    font-size: 15px;
    background: rgb(246, 246, 246);
    color: #383838;
}

main aside {
    float: right;
    width: 25%;
    min-width: 180px;
}

main aside div#contact div img {
    float: left;
    margin-right: 12px;
    height: 48px;
    border-radius: 50%;
}

main aside div#contact div p, aside div#contact div a {
    margin: 6px 0;
}

main aside div#contact div p {
    line-height: 1.2;
}

main aside a {
    color: #009DF2;
}

main aside a:hover {
    color: #1A587A;
}

main aside div#follow h2 {
    margin-bottom: 0;
}

main aside div#follow div {
    margin: 12px 0;
}

main aside div#follow div img {
    height: 24px;
    margin-right: 12px;
    vertical-align: bottom;
}

footer {
    clear: both;
    width: 100%;
    background:rgb(246, 246, 246);
}

footer div#f-content {
    position: relative;
    padding: 48px 0;
}

footer div#f-content div#search {
    position: absolute;
    right: 0;
    top: 48px;
    margin-top: 48px;
    width: 40%;
}

footer div#f-content div#search img {
    height: 18px;
    position: absolute;
    left: 12px;
    top: 25%;
}

footer div#f-content div#search input {
    width: 100%;
    height: 42px;
    padding-left: 36px;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}

footer div#f-content div#search input::placeholder {
    font-size: 15px;
    color: rgb(190, 190, 190);
}

footer div#f-content div#lli-items {
    display: flex;
    justify-content: space-between;
    margin: 48px 0;
}

footer div#f-content div#lli-items div.lli-item {
    position: relative;
    width: 27%;
    height: 460px;
    padding: 24px;
    background-color: #fff;
}

footer div#f-content div#lli-items div.lli-item h3 {
    line-height: 1.5;
}

footer div#f-content div#lli-items div.lli-item img {
    float: left;
    height: 80px;
    margin-right: 12px;
    margin-bottom: 24px;
    border-radius: 5px;
}

footer div#f-content div#lli-items div.lli-item p {
    clear: both;
    margin: 24px 0;
}

footer div#f-content div#lli-items div.lli-item span {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}

footer div#f-content div#lli-items div.lli-item div {
    position: absolute;
    bottom: 64px;
    right: 24px;
    text-align: right;
}

footer div#f-content div#lli-items div.lli-item div > * {
    margin: 0;
}

footer div#f-content div#lli-items div.lli-item div p {
    font-size: 12px;
}

footer div#f-content div#lli-items div.lli-item a {
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

footer div#f-content div#lli-items div.lli-item a:first-of-type {
    padding: 3px 6px;
    color: #009DF2;
    border: 1px solid #009DF2;
}

footer div#f-content div#lli-items div.lli-item a:first-of-type:hover {
    color: #fff;
    background-color: #009DF2;
}

footer div#f-content div#lli-items div.lli-item a:last-of-type {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 85%;
    padding: 6px 0;
    color: #fff;
    background-color: #FFA500;
}

footer div#f-content div#lli-items div.lli-item a:last-of-type:hover {
    color: #FFA500;
    background-color: #fff;
    border: 1px solid #FFA500;
}

/* For mobile */

@media (max-width: 800px) {

    h1, h2 {
        margin: 24px 0;
    }

    main section {
        width: 100%;
    }

    main section div#aof-items {
        flex-direction: column;
    }

    main aside {
        float: none;
        margin-bottom: 48px;
    }

    main aside div#contact {
        margin-bottom: 48px;
    }

    footer div#f-content {
        width: 100%;
        padding: 6px 0;
    }

    footer div#f-content h1,
    footer div#f-content div#lli-items div.lli-item p:not(.author),
    footer div#f-content div#lli-items div.lli-item a:last-of-type,
    footer div#f-content div#lli-items div.lli-item span {
        display: none;
    }

    footer div#f-content div#search {
        top: 2px;
        left: 0;
        width: 100%;
        margin-top: 0;
        padding: 18px 0;
        background-color: #fff;
        border-top: 2px solid rgb(239, 239, 239);
        border-bottom: 2px solid rgb(239, 239, 239);
    }

    footer div#f-content div#search img {
        top: 30px;
        left: 7%;
    }

    footer div#f-content div#search input {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    footer div#f-content div#lli-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 12px;
    }

    footer div#f-content div#lli-items div.lli-item {
        width: 80%;
        height: 160px;
        margin: 0 auto;
        margin-top: 18px;
    }

    footer div#f-content div#lli-items div.lli-item img {
        margin-bottom: 12px;
    }

    footer div#f-content div#lli-items div.lli-item div {
        bottom: 18px;
    }

    footer div#f-content div#lli-items div.lli-item div h4 {
        font-size: 21px;
    }

    footer div#f-content div#lli-items div.lli-item p.author {
        margin: 12px 0;
        font-size: 15px;
    }

    footer div#f-content div#lli-items div.lli-item a:first-of-type {
        display: block;
        clear: both;
        width: 45px;
        margin-top: 30px;
    }
}